downloads
data
note
.viminfo
.bash_history
.ssh
.pki
.local
.cache
.vscode-oss
.npm
.config/git/config
.dotnet
.fehbg
.profile
.sudo_as_admin_successful
.vscode
.wget-hsts
.config/QtProject.conf
.config/X11/$XDG_CACHE_HOME
.config/go
.config/java
.config/microsoft-edge
.config/tailscale
.eteks
.java
.ollama
.python_history
