### 🔑 Sensitive/System Files
.ssh/
.pki/
.Xauthority
.bash_history
.zprofile
.zshrc
.bashrc

### 💾 Cache and Local/Temporary Data
.cache/
.local/
.npm/
.wget-hsts
.viminfo
.python_history
downloads/
data/
note/
.sudo_as_admin_successful
.fehbg

### 💻 IDE/Editor/Development Environment
.vscode/
.vscode-oss/
.dotnet/
.java/
.ollama/

### ⚙️ Application-Specific Config Files 
.config/git/config
.config/X11/$XDG_CACHE_HOME
