zathura
vlc
vivaldi
vifm
rclone
pulse
neofetch
mimeapps.list
libreoffice
gtk-3.0
gtk-2.0
gnupg
GIMP
Electron
dconf
Code
code-oss
cmus
BraveSoftware
.dotfile
gtk-4.0
lagrange
.secrets
amfora
st
vue
bcompare5
htop
systemd
feh
